#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Скрипт запуска Linux должен использовать lf
/gradlew        text eol=lf

# Скрипт запуска Windows должен использовать crlf
*.bat           text eol=crlf
