#universityImageView:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.9
}

.error-field {
    -fx-focus-color: #d35244;
    -fx-faint-focus-color: #d3524422;

    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(
            from 0px 0px to 0px 5px,
            derive(-fx-control-inner-background, -9%),
            -fx-control-inner-background
        );
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}

.toolbar-button:hover {
    -fx-cursor: hand;
}

.button-pressed:focused {
    -fx-background-color:
        -fx-focus-color,
        -fx-faint-focus-color,
        gray,
        linear-gradient(
            gray 0%,
            lightgray 100%
        ),
        lightgray;
    -fx-background-insets: -0.2, -1.4, 1, 2, 3;
    -fx-background-radius: 3, 4, 2, 2, 2;
}

.button-pressed {
    -fx-background-color:
        gray,
        linear-gradient(
            gray 0%,
            lightgray 100%
        ),
        lightgray;
    -fx-background-insets: 1, 2, 3;
    -fx-background-radius: 2, 2, 2;
}

#helpMenu {
    -fx-background-color: -fx-base;
    -fx-border-color: lightgray;
    -fx-border-insets: -1 0 0 0;
}